<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Kanbanlacho -  <%= controller.action_name %></title>

    <link rel="stylesheet" href="javascripts/ext-3.3.0/resources/css/ext-all.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="javascripts/ext-3.3.0/resources/css/xtheme-gray.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <script type="text/javascript" src="javascripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="javascripts/ext-3.3.0/adapter/jquery/ext-jquery-adapter.js"></script>
    <script type="text/javascript" src="javascripts/ext-3.3.0/ext-all.js"></script>
    <script type="text/javascript" src="javascripts/FactoryStore.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>

  </head>
  <body>

      <div id="content">
        <div id="header">
            <ul>
                <li><%= link_to "Projects", projects_path %></li>
                <li><%= link_to "Features", features_path %></li>
            </ul>
        </div>
        <%= yield %>

        <div id="grid_features"></div>

      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>

