<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Kanbanlacho -  <%= controller.action_name %></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>

  </head>
  <body>


      <div id="content">
        <div id="header">
            <ul>
                <li><%= link_to "Projects", projects_path %></li>
                <li><%= link_to "Features", features_path %></li>
            </ul>
        </div>
        <%= yield %>


        <div id="getting-started">

      </div>

      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>

